body {
	padding-top: 80px;
	background-color: #89CEA2 !important;
}

.solid {
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 2px !important;
	margin-bottom: 15px !important;
	border: solid 1px black;
}

.thumbnail {
	/*margin-bottom: 0px !important;*/
}

.jumbotron {
	background-image: url(jumbotron5.png);
	background-size: cover !important;
	border: solid 1px white;
}

span.bold {
	font-weight: bold;
}

table {
	border: solid 1px black;
}

h1 {
	font-family: 'Trocchi', serif !important;
}

h3 {
	font-family: 'Pacifico', cursive !important;
}

h4 {
	font-family: 'Trocchi', serif !important;
}

h5 {
	font-family: 'Roboto', sans-serif !important;
	font-weight: bold !important;
	font-size: 125%;
}

.navbar {
	background-color: #ffffff !important;
	height: 70px !important;
}

.navbar-nav a {
	font-family: 'Roboto', sans-serif !important;
	margin-top: 7px !important;

}

.navbar-brand {
	/*font-family: 'Pacifico', cursive !important;
	color: black !important;*/
	padding-top: 0px !important;
	padding-left: 0px !important;
}

form {
	margin-top: 15px !important;
}


p {
	font-family: 'Roboto', sans-serif !important;
}

p.special-p {
	font-family: 'Pacifico', cursive !important;
	font-weight: bold;
	padding-left: 20%;
}

ul {
	font-family: 'Roboto', sans-serif !important;
}

.events {
	margin-left: 15px !important;
	margin-right: 15px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px black;
	background-color: #ffffff;
}

.index {
	margin-left: 1px !important;
	margin-right: 1px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px black;
	background-color: #ffffff;
}

.btn-primary {
	background-color: #ffffff !important;
	color: black !important;
	border: solid 1px black !important;
}